body {
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    width: 100px;
    height: 100px;
    background-color: rgb(243, 243, 217);
    border: 1px solid gray;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F4A9";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\1F4A6";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.restart {
    margin-top: 100px;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    background-color: rgb(19, 221, 19);
}