html,
body {
    margin: auto;
    padding: 0;
}

body {
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.topBar {
    background-color: #FF6B28;
    padding: 15px;
    text-align: center;
}

.header {
    background-image: url(images/hero_bolo.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.container {
    margin: auto;
    max-width: 990px;
    padding: 0 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FF6B28;
    ;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.card {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.card1 {
    cursor: url(images/cursor_ingredientes.png), default;
}

.card2 {
    cursor: url(images/cursor_preparo.png), default;
}

.card3 {
    cursor: url(images/cursor_intrucoes.png), auto;
}

a {
    text-decoration: none;
}

.buy {
    background-color: #FF6B28;
    padding: 16px;
    border-radius: 20px;
}

li {
    margin-bottom: 14px;
}

.ingredients {
    margin-bottom: 50px;
}
p {
    line-height: 28px;
}

footer {
    background-color: #FF6B28;
    text-align: center;
    color: white;
    padding: 15px;
}

.footerText {
    max-width: 500px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
}

.textWhite {
    color: white;
}
